<?xml version="1.0" encoding="utf-8"?>
%svg(viewBox="0 0 521.5 115" xmlns="http://www.w3.org/2000/svg")
  %defs
    %g(id="line")
      %polygon(class="black-fill"
        points="-3.5 10 0.5 0 4.5 10 0.5 7.5")
      %line(class="black-stroke dashed"
        x1="0.5"
        y1="10.5"
        x2="0.5"
        y2="45.5")
  - [{xStart: 0, numberStart: 0}, {xStart: 280, numberStart: 75}].each do |item|
    %g(transform="matrix(1, 0, 0, 1, #{item[:xStart]}, 0)")
      %rect(class="black-stroke white-fill"
        x="0.5"
        y="0.5"
        width="240.5"
        height="40.5")
      - 6.times do |i|
        %line(class="black-stroke"
          x1="#{40.5 + 40 * i}"
          y1="0.5"
          x2="#{40.5 + 40 * i}"
          y2="40.5")
      - (item[:numberStart] ... item[:numberStart] + 6).each_with_index do |n, i|
        %text(class="cell-text" x="#{20 + 40 * i}" y="20.5")<
          = n
        %g(transform="matrix(1, 0, 0, 1, #{20 + 40 * i}, 50)")
          %text(class="small-text" x="0.5" y="57.5")<
            = n
          %use(href="#line" x="0" y="0")
      - if item[:xStart] == 0
        %text(class="cell-text" x="260" y="20") ⋯
